resources/xsd/P4Port4.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ccma="urn:nedu:edsn:data:p4collecteddatabatchresultresponse:2:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" version="2p0" targetNamespace="urn:nedu:edsn:data:p4collecteddatabatchresultresponse:2:standard" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- ================================================================== -->
  <!-- ===== Element Declarations ===== -->
  <!-- ================================================================== -->
  <!-- ===== Root element ===== -->
  <!-- ================================================================== -->
  <xsd:element name="P4CollectedDataBatchResultResponseEnvelope" type="ccma:P4CollectedDataBatchResultResponseEnvelope">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4CollectedDataBatchResultResponseEnvelope</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>P4CollectedDataBatchResultResponseEnvelope</ccts:DictionaryEntryName>
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ================================================================== -->
  <!-- ===== Type Definitions ===== -->
  <!-- ================================================================== -->
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4CollectedDataBatchResultResponseEnvelope</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>P4CollectedDataBatchResultResponseEnvelope</ccts:DictionaryEntryName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="EDSNBusinessDocumentHeader" type="ccma:P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="P4Content" type="ccma:P4CollectedDataBatchResultResponseEnvelope_P4Content" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Content">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Content</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4Content</ccts:DictionaryEntryName>
            <ccts:Definition>Placeholder for message generation</ccts:Definition>
            <ccts:BusinessTermName>Inhoud bericht</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ContentHash" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
            <ccts:Definition>Hash calculation based on business document</ccts:Definition>
            <ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ConversationID" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
            <ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
            <ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CorrelationID" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
            <ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
            <ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreationTimestamp" type="ccma:P4CollectedDataBatchResultResponseEnvelope_DateTime">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
            <ccts:Definition>Timestamp when document was created</ccts:Definition>
            <ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentID" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
            <ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
            <ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExpiresAt" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_DateTime">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
            <ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
            <ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MessageID" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
            <ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
            <ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcessTypeID" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
            <ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
            <ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RepeatedRequest" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
            <ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
            <ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TestRequest" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Indicator">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
            <ccts:Definition>Indicates if this is a test request</ccts:Definition>
            <ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Destination" type="ccma:P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Destination</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
            <ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Manifest" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Manifest</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
            <ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Source" type="ccma:P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Source">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Source</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
            <ccts:Definition>Zender van een bericht.</ccts:Definition>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Destination ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Destination</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
        <ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Receiver" type="ccma:P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Receiver</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
            <ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Service" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Service</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
            <ccts:Definition>Service to be consumed</ccts:Definition>
            <ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Receiver</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
        <ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Receiver.Authority</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
            <ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
            <ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Receiver.ContactTypeIdentifier</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
            <ccts:Definition>Role in this business process</ccts:Definition>
            <ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReceiverID" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Receiver.ReceiverID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
            <ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
            <ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Service</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
        <ccts:Definition>Service to be consumed</ccts:Definition>
        <ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ServiceMethod" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Service.ServiceMethod</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
            <ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
            <ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Service.ServiceName</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
            <ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
            <ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Manifest ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Manifest</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
        <ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="NumberofItems" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Numeric">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Manifest.NumberofItems</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
            <ccts:Definition>Number of associated items</ccts:Definition>
            <ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ManifestItem" minOccurs="1" maxOccurs="unbounded" type="ccma:P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#ManifestItem</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
            <ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#ManifestItem</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
        <ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Description" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#ManifestItem.Description</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
            <ccts:Definition>Text description of the item</ccts:Definition>
            <ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LanguageCode" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#ManifestItem.LanguageCode</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
            <ccts:Definition>ISO 639 language code of the item</ccts:Definition>
            <ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MimeTypeQualifierCode" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
            <ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
            <ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UniformResourceIdentifier" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
            <ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
            <ccts:BusinessTermName>URI</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Source ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_EDSNBusinessDocumentHeader_Source">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Source</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
        <ccts:Definition>Zender van een bericht.</ccts:Definition>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Source.Authority</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
            <ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
            <ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Source.ContactTypeIdentifier</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
            <ccts:Definition>Role in this business process</ccts:Definition>
            <ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SenderID" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Identifier">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Source.SenderID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
            <ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
            <ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_P4Content ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_P4Content" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Content">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Content</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>P4Content</ccts:DictionaryEntryName>
        <ccts:Definition>Placeholder for message generation</ccts:Definition>
        <ccts:BusinessTermName>Inhoud bericht</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="P4MeteringPoint" minOccurs="0" maxOccurs="unbounded" type="ccma:P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4MeteringPoint">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4MeteringPoint</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4MeteringPoint</ccts:DictionaryEntryName>
            <ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: MeteringPoint bevat alle eigenschappen van een aansluiting relevant kunnen zijn.</ccts:Definition>
            <ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4MeteringPoint">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4MeteringPoint</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>P4MeteringPoint</ccts:DictionaryEntryName>
        <ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: MeteringPoint bevat alle eigenschappen van een aansluiting relevant kunnen zijn.</ccts:Definition>
        <ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="EANID" type="ccma:P4CollectedDataBatchResultResponseEnvelope_GSRNEANCode">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4MeteringPoint.EANID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4MeteringPoint.EANID</ccts:DictionaryEntryName>
            <ccts:Definition>Uniek identificatienummer conform de Europese Artikel Nummering voor de aansluiting (EAN 18) (LDT1)</ccts:Definition>
            <ccts:BusinessTermName>Aansluiting EAN</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExternalReference" type="ccma:P4CollectedDataBatchResultResponseEnvelope_ReferenceTextType" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4MeteringPoint.ExternalReference">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4MeteringPoint.ExternalReference</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4MeteringPoint.ExternalReference</ccts:DictionaryEntryName>
            <ccts:Definition>Referentie bedoeld om de terugkoppeling vanuit het CTS te kunnen herleiden tot het verzoek. Max. 60 karakters (LDT2)</ccts:Definition>
            <ccts:BusinessTermName>Referentie</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="QueryDate" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Date" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4MeteringPoint.QueryDate">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4MeteringPoint.QueryDate</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4MeteringPoint.QueryDate</ccts:DictionaryEntryName>
            <ccts:Definition>Opvraagdatum (LDT1)</ccts:Definition>
            <ccts:BusinessTermName>Datum</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="QueryReason" type="ccma:P4CollectedDataBatchResultResponseEnvelope_QueryReasonTypeCode" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4MeteringPoint.QueryReason">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4MeteringPoint.QueryReason</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4MeteringPoint.QueryReason</ccts:DictionaryEntryName>
            <ccts:Definition>Mogelijke waarden code reden verstrekking (EDT):
-Dagstand (DAY)
-Intervalstand (INT)
-Maandstand recovery (RCY)</ccts:Definition>
            <ccts:BusinessTermName>ProcesCode</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="P4EnergyMeter" minOccurs="1" maxOccurs="unbounded" type="ccma:P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4EnergyMeter" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4EnergyMeter">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4EnergyMeter</ccts:UniqueID>
              <ccts:VersionID>2.0</ccts:VersionID>
              <ccts:DictionaryEntryName>P4EnergyMeter</ccts:DictionaryEntryName>
              <ccts:Definition>Apparaat waarmee het energiegebruik geregistreerd kan worden.
Toelichting: De Portaal_EnergyMeter bevat alle eigenschappen die relevant kunnen zijn.</ccts:Definition>
              <ccts:BusinessTermName>Meter</ccts:BusinessTermName>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="P4Rejection" minOccurs="1" maxOccurs="unbounded" type="ccma:P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4Rejection" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Rejection">
          <xsd:annotation>
            <xsd:documentation>
              <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Rejection</ccts:UniqueID>
              <ccts:VersionID>2.0</ccts:VersionID>
              <ccts:DictionaryEntryName>P4Rejection</ccts:DictionaryEntryName>
              <ccts:Definition>Een afwijzing op een vraag of verzoek. P4Rejection (Afwijzing) heeft een relatie met P4MeteringPoint (Aansluiting).</ccts:Definition>
              <ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4EnergyMeter ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4EnergyMeter" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4EnergyMeter">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4EnergyMeter</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>P4EnergyMeter</ccts:DictionaryEntryName>
        <ccts:Definition>Apparaat waarmee het energiegebruik geregistreerd kan worden.
Toelichting: De Portaal_EnergyMeter bevat alle eigenschappen die relevant kunnen zijn.</ccts:Definition>
        <ccts:BusinessTermName>Meter</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="ccma:P4CollectedDataBatchResultResponseEnvelope_EnergyMeterIDType">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4EnergyMeter.ID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4EnergyMeter.ID</ccts:DictionaryEntryName>
            <ccts:Definition>[M.101] Meternummer. Max. 70 karakters (LDT2)</ccts:Definition>
            <ccts:BusinessTermName>Meternummer</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="P4Register" minOccurs="1" maxOccurs="4" type="ccma:P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4EnergyMeter_P4Register" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Register">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Register</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4Register</ccts:DictionaryEntryName>
            <ccts:Definition>Inrichting voor het omvatten en soms ook presenteren van aantalen en hoeveelheden.</ccts:Definition>
            <ccts:BusinessTermName>Register</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4EnergyMeter_P4Register ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4EnergyMeter_P4Register" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Register">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Register</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>P4Register</ccts:DictionaryEntryName>
        <ccts:Definition>Inrichting voor het omvatten en soms ook presenteren van aantalen en hoeveelheden.</ccts:Definition>
        <ccts:BusinessTermName>Register</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="ccma:P4CollectedDataBatchResultResponseEnvelope_EnergyRegisterIDType" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Register.ID">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Register.ID</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4Register.ID</ccts:DictionaryEntryName>
            <ccts:Definition>[M.111] Telwerkidentificatie. Max. 5 karakters (LDT2)
Voor Elektriciteit:
-1.8.0 (Levering Totaal, eenheid Wh)
-1.8.1 (Verbruik Laag, eenheid kWh)
-1.8.2 (Verbruik Normaal, eenheid kWh)
-2.8.0 (Teruglevering Totaal, eenheid Wh)
-2.8.1 (Levering Laag, eenheid kWh)
-2.8.2 (Levering Normaal, eenheid kWh)
Niet van toepassing voor Gas.</ccts:Definition>
            <ccts:BusinessTermName>Telwerkidentificatie</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MeasureUnit" type="ccma:P4CollectedDataBatchResultResponseEnvelope_MeasureUnitCode" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Register.MeasureUnit">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Register.MeasureUnit</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4Register.MeasureUnit</ccts:DictionaryEntryName>
            <ccts:Definition>Code meeteenheid (EDT):
-MTQ (m3 voor dagstand gas)
-DM3 (dm3 voor intervalstanden gas)
-KWH (kWh voor dagstand elektriciteit)
-WH (Wh voor intervalstanden elektriciteit)</ccts:Definition>
            <ccts:BusinessTermName>Meeteenheid</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="P4Reading" minOccurs="1" maxOccurs="101" type="ccma:P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4EnergyMeter_P4Register_P4Reading" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Reading">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Reading</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4Reading</ccts:DictionaryEntryName>
            <ccts:Definition>Informatie over stand telwerk.</ccts:Definition>
            <ccts:BusinessTermName>Standen</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4EnergyMeter_P4Register_P4Reading ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4EnergyMeter_P4Register_P4Reading" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Reading">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Reading</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>P4Reading</ccts:DictionaryEntryName>
        <ccts:Definition>Informatie over stand telwerk.</ccts:Definition>
        <ccts:BusinessTermName>Standen</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Reading" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_ReadingType" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Reading.Reading">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Reading.Reading</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4Reading.Reading</ccts:DictionaryEntryName>
            <ccts:Definition>Stand. Max. 15 cijfers (LDT2)</ccts:Definition>
            <ccts:BusinessTermName>Stand</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReadingDateTime" type="ccma:P4CollectedDataBatchResultResponseEnvelope_DateTime" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Reading.ReadingDateTime">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Reading.ReadingDateTime</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4Reading.ReadingDateTime</ccts:DictionaryEntryName>
            <ccts:Definition>Datum/tijd stand (LDT1)</ccts:Definition>
            <ccts:BusinessTermName>Datum/tijd stand</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4Rejection ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_P4Content_P4MeteringPoint_P4Rejection" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Rejection">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Rejection</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>P4Rejection</ccts:DictionaryEntryName>
        <ccts:Definition>Een afwijzing op een vraag of verzoek. P4Rejection (Afwijzing) heeft een relatie met P4MeteringPoint (Aansluiting).</ccts:Definition>
        <ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Rejection" type="ccma:P4CollectedDataBatchResultResponseEnvelope_RejectionP4Type" sawsdl:modelReference="urn:nedu:edsn:lom:p4:model:2:standard#P4Rejection.Rejection">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#P4Rejection.Rejection</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>P4Rejection.Rejection</ccts:DictionaryEntryName>
            <ccts:Definition>Code van de reden van de afwijzing (verplicht) en toelichting op de reden van afwijzing (optioneel) (CDT). Zie BRS P4 voor afwijsredenen/foutcodes</ccts:Definition>
            <ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Business Data Type Definitions ===== -->
  <!-- ================================================================== -->
  <!-- ================================================================== -->
  <!-- ===== Type Definition: Date ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_Date">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Date</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Date</ccts:DictionaryEntryName>
        <ccts:Definition>Datum (date) (LDT categorie-1).</ccts:Definition>
        <ccts:BusinessTermName>Datum</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: DateTime ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_DateTime">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#DateTime</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
        <ccts:Definition>Datum/tijd (dateTime) (LDT categorie-1).</ccts:Definition>
        <ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: EnergyMeterIDType ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_EnergyMeterIDType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EnergyMeterIDType</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>EnergyMeterIDType</ccts:DictionaryEntryName>
        <ccts:Definition>[M.101] Meternummer (LDT categorie-2).</ccts:Definition>
        <ccts:BusinessTermName>Meternummer</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="70"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: EnergyRegisterIDType ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_EnergyRegisterIDType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#EnergyRegisterIDType</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>EnergyRegisterIDType</ccts:DictionaryEntryName>
        <ccts:Definition>[M.111] Telwerkidentificatie (LDT categorie-2).</ccts:Definition>
        <ccts:BusinessTermName>Telwerkidentificatie</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: GSRNEANCode ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_GSRNEANCode">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#GSRNEANCode</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>GSRNEANCode</ccts:DictionaryEntryName>
        <ccts:Definition>Global Service Relation Number (GSRN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
        <ccts:BusinessTermName>Global Service Relation Number</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="18"/>
      <xsd:pattern value="[0-9]{18}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: Identifier ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_Identifier">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Identifier</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
        <ccts:Definition>Identifier (string) (LDT categorie-3).</ccts:Definition>
        <ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
</xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: Indicator ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_Indicator">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Indicator</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
        <ccts:Definition>Indicator (string) (LDT categorie-3).</ccts:Definition>
        <ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
</xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: Numeric ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_Numeric">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Numeric</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
        <ccts:Definition>Nummer (getal) (LDT categorie-3).</ccts:Definition>
        <ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
</xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: ReadingType ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_ReadingType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#ReadingType</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>ReadingType</ccts:DictionaryEntryName>
        <ccts:Definition>Stand (LDT categorie-2).</ccts:Definition>
        <ccts:BusinessTermName>Stand</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: ReferenceTextType ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_ReferenceTextType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#ReferenceTextType</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>ReferenceTextType</ccts:DictionaryEntryName>
        <ccts:Definition>Referentie (string) (LDT categorie-2).</ccts:Definition>
        <ccts:BusinessTermName>Referentie tekst</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: RejectionP4Type ===== -->
  <!-- ================================================================== -->
  <xsd:complexType name="P4CollectedDataBatchResultResponseEnvelope_RejectionP4Type" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionP4Type">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#RejectionP4Type</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>RejectionP4Type</ccts:DictionaryEntryName>
        <ccts:Definition>Datatype voor inhoudelijke afwijzingen</ccts:Definition>
        <ccts:BusinessTermName>Afwijzingen PP4</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="RejectionCode" type="ccma:P4CollectedDataBatchResultResponseEnvelope_RejectionReasonType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionP4Type.RejectionCode">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#RejectionP4Type.RejectionCode</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>RejectionP4Type.RejectionCode</ccts:DictionaryEntryName>
            <ccts:Definition>Code van de reden van de afwijzing</ccts:Definition>
            <ccts:BusinessTermName>Code afwijsreden</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RejectionText" minOccurs="0" maxOccurs="1" type="ccma:P4CollectedDataBatchResultResponseEnvelope_Text" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionP4Type.RejectionText">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#RejectionP4Type.RejectionText</ccts:UniqueID>
            <ccts:VersionID>2.0</ccts:VersionID>
            <ccts:DictionaryEntryName>RejectionP4Type.RejectionText</ccts:DictionaryEntryName>
            <ccts:Definition>Toelichting op de reden van afwijzing</ccts:Definition>
            <ccts:BusinessTermName>Toelichting afwijsreden</ccts:BusinessTermName>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: RejectionReasonType ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_RejectionReasonType">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#RejectionReasonType</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>RejectionReasonType</ccts:DictionaryEntryName>
        <ccts:Definition>Code afwijsreden.</ccts:Definition>
        <ccts:BusinessTermName>Code afwijsreden</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: Text ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_Text">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#Text</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
        <ccts:Definition>Tekst (string) (LDT categorie-3).</ccts:Definition>
        <ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
</xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Business Code List Definitions ===== -->
  <!-- ================================================================== -->
  <!-- ================================================================== -->
  <!-- ===== Type Definition: MeasureUnitCode ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_MeasureUnitCode">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#MeasureUnitCode</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>MeasureUnitCode</ccts:DictionaryEntryName>
        <ccts:Definition>Code meeteenheid.</ccts:Definition>
        <ccts:BusinessTermName>Code meeteenheid</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="KVR">
        <xsd:annotation>
          <xsd:documentation>kVAR
De voltampère reactief (var) is de eenheid van reactief vermogen (P&lt;sub>r&lt;/sub>) ook wel bekend als Blind vermogen (P&lt;sub>bl&lt;/sub>)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KWH">
        <xsd:annotation>
          <xsd:documentation>kilowatt hour (kilowattuur kWh)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KWT">
        <xsd:annotation>
          <xsd:documentation>kilowatt (kW)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M3N">
        <xsd:annotation>
          <xsd:documentation>normal cubic metre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MTQ">
        <xsd:annotation>
          <xsd:documentation>cubic metre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="WH">
        <xsd:annotation>
          <xsd:documentation>watt hour</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DM3">
        <xsd:annotation>
          <xsd:documentation>cubic decimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MJ">
        <xsd:annotation>
          <xsd:documentation>megajoule</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M3N3517">
        <xsd:annotation>
          <xsd:documentation>Groningen-gas equivalent is m3(n;35,17)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M3N3517HR">
        <xsd:annotation>
          <xsd:documentation>Gasafname in m3(n;35,17)/uur</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MQH">
        <xsd:annotation>
          <xsd:documentation>Kubieke meter per uur</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================================== -->
  <!-- ===== Type Definition: QueryReasonTypeCode ===== -->
  <!-- ================================================================== -->
  <xsd:simpleType name="P4CollectedDataBatchResultResponseEnvelope_QueryReasonTypeCode">
    <xsd:annotation>
      <xsd:documentation>
        <ccts:UniqueID>urn:nedu:edsn:data:p4collecteddatabatchresultresponse#QueryReasonTypeCode</ccts:UniqueID>
        <ccts:VersionID>2.0</ccts:VersionID>
        <ccts:DictionaryEntryName>QueryReasonTypeCode</ccts:DictionaryEntryName>
        <ccts:Definition>Code reden verstrekking.</ccts:Definition>
        <ccts:BusinessTermName>Code reden verstrekking</ccts:BusinessTermName>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DAY">
        <xsd:annotation>
          <xsd:documentation>Dagstand</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="INT">
        <xsd:annotation>
          <xsd:documentation>Intervalstand</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RCY">
        <xsd:annotation>
          <xsd:documentation>Maandstand recovery</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>